<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings></appSettings>
  <connectionStrings>
    <add name="SuitSupplyConnectionLocalL"
         connectionString="data source=SOFI10\SOFI10DB;initial catalog=SuitSupply;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;user id=megacar;password=Parking@5;"
         providerName="System.Data.SqlClient" />
    <add name="SuitSupplyConnectionLocal"
         connectionString="Server=tcp:parkspacedevserver.database.windows.net,1433;Initial Catalog=SuitSupply;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;user id=megacar;password=Parking@5;App=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>