<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="SuitSupplyDataModel"
         connectionString="data source=SOFI10\SOFI10DB;initial catalog=SuitSupply;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient" />
    <add name="SuitSupplyDataModel1"
         connectionString="data source=SOFI10\SOFI10DB;initial catalog=SuitSupply;integrated security=True;user id=megacar;multipleactiveresultsets=True;application name=EntityFramework"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>