<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://appverseapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>appverseapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>appverseapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$appverseapi</UserName>
    <_SavePWD>False</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="SuitSupply.Core.DataAccess.EventDbContext" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SuitSupply.Core.DataAccess.EventDbContext, SuitSupply.Core.DataAccess" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SuitSupply.Domain.MittoSms.Database.MittoDatabase" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SuitSupply.Domain.MittoSms.Database.MittoDatabase, SuitSupply.Domain.MittoSms" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SuitSupply.Domain.Product.Database.ProductDatabase" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="SuitSupply.Domain.Product.Database.ProductDatabase, SuitSupply.Domain.Product" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="SuitSupplyConnectionLocalL" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SOFI10\SOFI10DB;Initial Catalog=SuitSupply;Integrated Security=True;User ID=megacar;Password=Parking@5;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SuitSupplyConnectionLocalL_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SOFI10\SOFI10DB;initial catalog=SuitSupply;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework;user id=megacar;password=Parking@5;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="SuitSupplyConnectionLocal" Order="5" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:appveresqlserver.database.windows.net,1433;Initial Catalog=SuitSupply;Persist Security Info=False;User ID=appverse;Password=universe@5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\SuitSupplyConnectionLocal_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:appveresqlserver.database.windows.net,1433;Initial Catalog=SuitSupply;Persist Security Info=False;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;user id=appverse;password=universe@5;App=EntityFramework" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuitSupply.Core.DataAccess.EventDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuitSupply.Domain.MittoSms.Database.MittoDatabase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuitSupply.Domain.Product.Database.ProductDatabase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuitSupplyConnectionLocal-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)SuitSupplyConnectionLocalL-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="SuitSupply.Core.DataAccess.EventDbContext" />
    <_ConnectionStringsToInsert Include="SuitSupply.Domain.MittoSms.Database.MittoDatabase" />
    <_ConnectionStringsToInsert Include="SuitSupply.Domain.Product.Database.ProductDatabase" />
  </ItemGroup>
</Project>